/* .container {
  width: 100%;
  overflow: scroll;
}
.column {
  box-sizing: border-box;
  padding: 10px;
  float: left;
}

.left {
  width: 30%;
  background-color: lightblue;
}

.right {
  width: 70%;
  background-color: aqua;
}

.lorem {
  border: 12px red solid;
  overflow: scroll;
} */

body {
  margin: 0;
}

header {
  position: fixed;
  background-color: rgb(19, 134, 1);
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: inline-block;
}

.navbar ul li {
  display: inline;
  padding: 7px;
}

.navbar ul li:hover {
  background-color: rgb(41, 41, 41);
  padding: 7px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  /* padding: 30px; */
  margin: 30px;
  text-align: center;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
}
.item {
  background-color: lightgreen;
  margin: 10px;
  padding: 12px;
  width: 30%;
}
.item1 {
  background-color: lightgreen;
  margin: 10px;
  padding: 12px;
  width: 30%;
}

@media screen and (max-width: 400px) {
  .item1 {
    display: none;
  }
}
