* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: nunito;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: black;
  color: white;
  position: relative;
  width: 100%;
  height: 380px;
  align-items: center;
}

footer .footx {
  display: flex;
  /* text-decoration: green !important;*/
}

footer .footx p a {
  color: white;
  text-transform: capitalize;
}
footer .footx p a:hover {
  color: green;
}

.footx .f1 {
  margin-right: 7rem;
}
.footx .f2 {
  margin-right: 7rem;
}

footer img {
  /* line-height: 7px; */
  margin-top: -15vh;
  height: 65%;
}

.foot2 {
  display: block;
  color: white;
  text-align: center;
  font-size: 16px;
  background-color: rgb(0, 0, 0, 89%);
  width: 100%;
  padding: 30px;
}
