* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: nunito;
}

footer {
  background-color: black;
  position: relative;
  width: 100%;
  height: 380px;
  display: block;
  /* box-shadow: 20px 89px 4px rgba(255, 255, 255, 0.2); */
}
/* 
footer .ul {
  color: white;
  list-style: none;
} */

footer .foot_logo img {
  image-rendering: optimizeQuality;
  padding: 30px 50px;
  width: 410;
  height: 200px;
  /* display: none; */
}

.copywright {
  display: inline-block;
  background-color: rgb(0, 0, 0, 89%);
  color: white;
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 91px;
}

.copywright p {
  padding: 40px 20px;
}
