/* External css  */

/* h1 { */
/* color: blue; */
/* color: blue !important; */
/* when the !important function is added the particular css overrides any other css  */
/* } */

/* body {
  background-color: gray;
} */

/* Asteriks is also known as a universal selector... It applies by default to the body when not defined */
/* * { */
/* background-color: paleturquoise;

  color: blueviolet; This applies to all text in the file which are not yet defined using css */
/* } */

/* Dots (.) is used to rep classes in css */

.bg_navy {
  background-color: palegreen;
}

#bg_white {
  background-color: aqua;
  color: brown;
}

.lolly {
  background-image: url(/internship-program1/images/rulerslimimage.jpg);
}

.border {
  border-style: double;
  border-color: blue;
  border-width: thick;
  height: 100%;
  border-radius: 20px;
  background-color: aquamarine;
  margin: 300px;
  padding: 300px;
}

.p-text {
  font-size: 50px;
  font-family: sofia;
  text-shadow: 3px 3px 3px gray;
}

.pop img {
  float: right;
  height: 50rem;
  width: 80rem;
}

header {
  position: relative;
  background-color: peru;
  width: 100%;
  /* height: 50px; */
}

.navbar ul {
  list-style: none;
  padding: 30px;
  /* display: inline; */
}

.navbar ul li a {
  color: aqua;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  /* text-align: center; */
}

.navbar ul li {
  display: inline;
}
.navbar ul li:hover {
  background-color: red;
  padding: auto;
}
